This Notebook is for actual model Training based on the what we learnt from the previous notebook

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('/workspaces/Codes-Please-/House_Price_Prediction_ML_Project/dataset/Housing.csv')
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [3]:
binary_cols = ['mainroad','guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']
df[binary_cols] = df[binary_cols].replace({'yes': 'Yes', 'no': 'No'})

In [4]:

df[binary_cols] = df[binary_cols].replace({'Yes': 1, 'No': 0})
df.head()

/tmp/ipykernel_2042/3524533574.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[binary_cols] = df[binary_cols].replace({'Yes': 1, 'No': 0})

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished

Feature Selection and Selecting Target

In [ ]:
#These feature are selected based on the correlation seen in the previous notebook
#Taking features whose correlation lie between 0.55 and 0.35
X=df[['area','bedrooms','bathrooms','stories','airconditioning','parking']]
y=df['price']

In [6]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

Train Test Split for Model Training

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=34)
X_train.shape,X_test.shape

((436, 6), (109, 6))

Using ColumnTransform for smoother model Training

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
from sklearn.pipeline import Pipeline
import joblib
numeric_features=['area','bedrooms','bathrooms','stories','airconditioning','parking']
preprocessor=ColumnTransformer(
    transformers=[
        ('numerical_features',StandardScaler(),numeric_features)
    ]
)

model_pipeline=Pipeline(steps=[
    ('preprocessor',preprocessor),
    ('regressor',Ridge())
])
model_pipeline.fit(X_train,y_train)
joblib.dump(model_pipeline,'model_pipeline.pkl')

['model_pipeline.pkl']